node-red/lamp
[{"id":"cc969482.1a33e8","type":"tab","label":"CommandAll","disabled":false,"info":""},{"id":"da4ae623.ea4eb","type":"tab","label":"Command Time","disabled":false,"info":"This tab is to command the lamp according with the time."},{"id":"e976b768.6019d8","type":"tab","label":"Lamp1","disabled":false,"info":""},{"id":"bd88b8ca.154fe8","type":"tab","label":"Lamp2","disabled":false,"info":""},{"id":"59782412.0cdd8c","type":"tab","label":"Lamp3","disabled":false,"info":""},{"id":"69677335.a9b6ec","type":"tab","label":"Lamp4","disabled":false,"info":""},{"id":"fab1bf73.b26eb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3f116557.f6c75a","type":"ui_group","z":"","name":"Jardim1_ESP_AFE3D0","tab":"fab1bf73.b26eb","order":4,"disp":true,"width":"6","collapse":false},{"id":"bfa8e7c6.07f648","type":"mqtt-broker","z":"","name":"Jardim","broker":"192.168.0.124","port":"1883","clientid":"pi2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd26b142.5e9f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e0accc3c.a1f54","type":"ui_group","z":"","name":"Jardim2_ESP_AF:E3:77","tab":"fab1bf73.b26eb","order":3,"disp":true,"width":"6","collapse":false},{"id":"8ab21ec6.fa579","type":"ui_group","z":"","name":"Command All","tab":"fab1bf73.b26eb","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c9b179d.a4c0f8","type":"ui_group","z":"","name":"Jardim3_ESP_AFACC1","tab":"fab1bf73.b26eb","order":5,"disp":true,"width":"6","collapse":false},{"id":"17edf024.77d89","type":"ui_group","z":"","name":"Jardim4_ESP_48975A","tab":"fab1bf73.b26eb","order":6,"disp":true,"width":"6","collapse":false},{"id":"212f079d.fcbc9","type":"ui_spacer","name":"spacer","group":"8ab21ec6.fa579","order":5,"width":1,"height":1},{"id":"c2afa401.0e6598","type":"inject","z":"69677335.a9b6ec","name":"Time","topic":"Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":283.6745300292969,"y":486.1900939941406,"wires":[["3e80bbe8.970ee4","2e10fde6.9ddbe2"]]},{"id":"47e49c33.626cc4","type":"mqtt in","z":"69677335.a9b6ec","name":"pub","topic":"jardim/lamp4_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":770.0000648498535,"y":174.00001525878906,"wires":[["954a2691.89ea38","1b0087cf.97fb08"]]},{"id":"91a4e3fe.1c1f5","type":"mqtt out","z":"69677335.a9b6ec","name":"sub","topic":"jardim/lamp4","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":1067.0001182556152,"y":239.99999809265137,"wires":[]},{"id":"b4d670c5.77f1a","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_0","group":"17edf024.77d89","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp4","x":720.0000858306885,"y":249.00000286102295,"wires":[["91a4e3fe.1c1f5","2e10fde6.9ddbe2"]]},{"id":"6913a299.5932bc","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_1","group":"17edf024.77d89","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp4","x":718.5000915527344,"y":294,"wires":[["91a4e3fe.1c1f5","2e10fde6.9ddbe2"]]},{"id":"954a2691.89ea38","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":1157.0000610351562,"y":154.00003051757812,"wires":[]},{"id":"1b0087cf.97fb08","type":"function","z":"69677335.a9b6ec","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp4_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === topicTarget){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":963.0000610351562,"y":188.00000286102295,"wires":[["91a4e3fe.1c1f5","9b87a9b6.eab7b8"]]},{"id":"b2210e79.25aef","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_2","group":"17edf024.77d89","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":719.2657127380371,"y":341.74998569488525,"wires":[["2e10fde6.9ddbe2"]]},{"id":"6ed46b90.7c9894","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":3,"width":0,"height":0,"name":"","label":"InterCond","format":"{{msg.payload % 4}}","layout":"row-spread","x":1216.0157508850098,"y":240.75,"wires":[]},{"id":"2e10fde6.9ddbe2","type":"function","z":"69677335.a9b6ec","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp4\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":1004.2656860351562,"y":307.75,"wires":[["6ed46b90.7c9894","91a4e3fe.1c1f5"],["57d93dc5.448db4"],["411cab1b.4395f4"]]},{"id":"9b87a9b6.eab7b8","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":1198.0078735351562,"y":197.5234375,"wires":[]},{"id":"57d93dc5.448db4","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1218.0078773498535,"y":284.5234375,"wires":[]},{"id":"411cab1b.4395f4","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1218.5001258850098,"y":335.00003004074097,"wires":[]},{"id":"29527622.922d7a","type":"comment","z":"69677335.a9b6ec","name":"Lamp4","info":"","x":983.0000171661377,"y":84.9999942779541,"wires":[]},{"id":"bcb73b93.8165e8","type":"function","z":"cc969482.1a33e8","name":"AllFunctionSet","func":"var topic = msg.topic;\nvar payload = msg.payload;\n\nmsg.topic = 'allcommand'\n\nif (topic === 'Lamp_0'){\n    //global.set('lamp0',payload)\n    msg.payload = payload;\n}\nif (topic === 'Lamp_1'){\n    //global.set('lamp1',payload)\n    msg.payload = payload;\n}\nif (topic === 'Lamp_2'){\n    //global.set('lamp2',payload)\n    msg.payload = payload;\n}\nglobal.set('cmdAll',payload)\nreturn msg\n","outputs":1,"noerr":0,"x":1079.5079174041748,"y":139.5234055519104,"wires":[["a2adec69.e65108"]]},{"id":"343f4a30.95816e","type":"ui_button","z":"cc969482.1a33e8","name":"Lamp_0","group":"8ab21ec6.fa579","order":2,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"Lamp_0","x":795.5078735351562,"y":163.52340698242188,"wires":[["bcb73b93.8165e8"]]},{"id":"335884a2.f4771c","type":"ui_button","z":"cc969482.1a33e8","name":"Lamp_1","group":"8ab21ec6.fa579","order":3,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"Lamp_1","x":796.007884979248,"y":218.52339887619019,"wires":[["bcb73b93.8165e8"]]},{"id":"5d7d260.64fbf5c","type":"ui_button","z":"cc969482.1a33e8","name":"Lamp_2","group":"8ab21ec6.fa579","order":4,"width":0,"height":0,"passthru":false,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"Lamp_2","x":800.7734966278076,"y":274.2734303474426,"wires":[["bcb73b93.8165e8"]]},{"id":"a2adec69.e65108","type":"ui_text","z":"cc969482.1a33e8","group":"8ab21ec6.fa579","order":1,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"row-spread","x":1291.2579174041748,"y":136.07027959823608,"wires":[]},{"id":"ab408c9e.1b4838","type":"inject","z":"cc969482.1a33e8","name":"Time","topic":"Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":116.674560546875,"y":200.19012451171875,"wires":[["6e2e69ae.91f8b8"]]},{"id":"dfa5a106.ae86d8","type":"function","z":"da4ae623.ea4eb","name":"CurrentTime","func":"//var date;\n//date = new Date();\n//var datestr = (date.getFullYear() + '-' + \n//   ('00' + (date.getMonth()+1)).slice(-2) + '-' + \n//   ('00' + date.getDate()).slice(-2) + ' ' + \n//   ('00' + date.getHours()).slice(-2) + ':' + \n//   ('00' + date.getMinutes()).slice(-2) + ':' + \n//   ('00' + date.getSeconds()).slice(-2));\n\n\n\nvar newMsg = {topic: \"cmd\"};\n\nvar curcmd = -2;\nvar dateyy = new Date();\nvar datemo = new Date();\nvar datedd = new Date();\nvar datehh = new Date();\nvar datemi = new Date();\nvar datese = new Date();\n\ndateyy = dateyy.getFullYear();\ndatemo = (datemo.getMonth()+1);\ndatedd = datedd.getDate();\ndatehh = datehh.getHours();\ndatemi = datemi.getMinutes();\ndatese = datese.getSeconds();\n\nvar datestr = (dateyy + '-' + \n  ('00' + datemo).slice(-2) + '-' + \n  ('00' + datedd).slice(-2) + ' ' + \n  ('00' + datehh).slice(-2) + ':' + \n  ('00' + datemi).slice(-2) + ':' + \n  ('00' + datese).slice(-2));\n\nvar dateMsg = msg;\ndateMsg.payload = datestr;\n\n///Only for test\n// var datehh = {topic:\"hour\"}\n// var datemm = {topic:\"minute\"}\n// if (msg.topic === \"hourcur\"){\n//     datehh = msg.payload;\n//     context.set(\"curhh\",msg.payload);\n// } else {\n//     datehh = context.get(\"curhh\");\n// }\n// if (msg.topic === \"mincur\"){\n//     datemi = msg.payload;\n//     context.set(\"curmm\",msg.payload);\n// }else{\n//     datemi = context.get(\"curmm\");\n// }\n// dateMsg.payload = datehh +\":\"+datemi;\n///Only for test\n\nvar nascerhr = flow.get(\"nascerh\")\nvar nascermin = flow.get(\"nascerm\")\nvar porhr = flow.get(\"porh\")\nvar pormin = flow.get(\"porm\")\n//var hora = {payload:((datehh>porhr) || ((datehh===porhr) & (datemi >= pormin)))};\n//var nascer = {payload: ((datehh>nascerhr) || ((datehh===nascerhr) & (datemi >= nascermin)))};\n//var por = {payload:porhr + \":\" + pormin};\n\n\nif ((datehh>nascerhr) || ((datehh===nascerhr) & (datemi >= nascermin))){\n    curcmd = 0;\n} \nif ((datehh>porhr) || ((datehh===porhr) & (datemi >= pormin)) || datehh < nascerhr ){\n    curcmd = 1;\n}\n\nnewMsg.payload = curcmd;\nreturn [dateMsg, newMsg]//, hora, nascer, por]","outputs":2,"noerr":0,"x":407.66664123535156,"y":203.77774047851562,"wires":[["6711d177.32c518"],["fcf93026.d5a6d"]]},{"id":"7fd21491.ec809c","type":"inject","z":"da4ae623.ea4eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":197.88890075683594,"y":205.111083984375,"wires":[["dfa5a106.ae86d8"]]},{"id":"1d09255e.695533","type":"http request","z":"da4ae623.ea4eb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.sunrise-and-sunset.com/pt/sun/brasil/sao-jose-dos-campos","tls":"","proxy":"","authType":"","x":467.0000514984131,"y":353.9999933242798,"wires":[["15d92b39.a13bed"]]},{"id":"15d92b39.a13bed","type":"html","z":"da4ae623.ea4eb","name":"","property":"payload","outproperty":"payload","tag":"tbody","ret":"text","as":"multi","x":352.7778091430664,"y":437.1110541820526,"wires":[["3019e81b.7adad","6864f112.db981"]]},{"id":"1bfe8494.b5f823","type":"inject","z":"da4ae623.ea4eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"05 01 * * *","once":false,"onceDelay":0.1,"x":219.66665649414062,"y":355.77777099609375,"wires":[["1d09255e.695533"]]},{"id":"3019e81b.7adad","type":"string","z":"da4ae623.ea4eb","name":"Nascer","methods":[{"name":"between","params":[{"type":"str","value":"Nascer do sol hoje"},{"type":"str","value":"Pôr do sol hoje"}]},{"name":"replaceAll","params":[{"type":"str","value":"\\t"},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":"\\n"},{"type":"str","value":""}]},{"name":"trim","params":[]},{"name":"split","params":[{"type":"str","value":":"},{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":576.4445114135742,"y":423.33325576782227,"wires":[["32541f9c.ec2d08"]]},{"id":"6864f112.db981","type":"string","z":"da4ae623.ea4eb","name":"Por","methods":[{"name":"between","params":[{"type":"str","value":"Pôr do sol hoje"},{"type":"str","value":"Fuso horário"}]},{"name":"replaceAll","params":[{"type":"str","value":"\\t"},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":"\\n"},{"type":"str","value":""}]},{"name":"trim","params":[]},{"name":"split","params":[{"type":"str","value":":"},{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":565.333381652832,"y":463.3332986831665,"wires":[["f60339dc.3797f8"]]},{"id":"29a4fa1a.25e626","type":"function","z":"da4ae623.ea4eb","name":"Por","func":"flow.set(\"porh\",msg.payload[0])\nflow.set(\"porm\",msg.payload[1])\n\nmsg.payload = msg.payload[0] +\":\"+msg.payload[1]\nreturn msg","outputs":1,"noerr":0,"x":1043.7777709960938,"y":465.11102294921875,"wires":[["dcf27e06.ad832"]]},{"id":"32541f9c.ec2d08","type":"split","z":"da4ae623.ea4eb","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":727.3333625793457,"y":419.11108016967773,"wires":[["1b418ded.2cd54a"]]},{"id":"1b418ded.2cd54a","type":"join","z":"da4ae623.ea4eb","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":874,"y":426.4444274902344,"wires":[["19afb700.f062d9"]]},{"id":"19afb700.f062d9","type":"function","z":"da4ae623.ea4eb","name":"Nascer","func":"flow.set(\"nascerh\",msg.payload[0])\nflow.set(\"nascerm\",msg.payload[1])\n\nmsg.payload = msg.payload[0] +\":\"+msg.payload[1]\nreturn msg","outputs":1,"noerr":0,"x":1048.8889770507812,"y":426.22222900390625,"wires":[["dd6f47e4.591048"]]},{"id":"f60339dc.3797f8","type":"split","z":"da4ae623.ea4eb","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":729.1147079467773,"y":464.9641218185425,"wires":[["5f616528.e01c2c"]]},{"id":"5f616528.e01c2c","type":"join","z":"da4ae623.ea4eb","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":878.8888549804688,"y":466.44439697265625,"wires":[["29a4fa1a.25e626"]]},{"id":"b4d21a4b.c12a8","type":"ui_text","z":"da4ae623.ea4eb","group":"8ab21ec6.fa579","order":6,"width":0,"height":0,"name":"","label":"Command Time","format":"{{msg.payload}}","layout":"row-spread","x":1070.222412109375,"y":269.88890075683594,"wires":[]},{"id":"6711d177.32c518","type":"ui_text","z":"da4ae623.ea4eb","group":"8ab21ec6.fa579","order":7,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":722.2223510742188,"y":171.9999237060547,"wires":[]},{"id":"c306e185.115258","type":"comment","z":"da4ae623.ea4eb","name":"horario salvo","info":"10/04\nnascer 06:16\npor  17:53","x":477.5555419921875,"y":108.88887405395508,"wires":[]},{"id":"6e2e69ae.91f8b8","type":"function","z":"cc969482.1a33e8","name":"get cmdTime","func":"\nvar lampcmd = global.get(\"cmdTime\")\n\nmsg.payload = lampcmd;\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":204.50006103515625,"wires":[["3f257b85.333594"]]},{"id":"3f257b85.333594","type":"switch","z":"cc969482.1a33e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":494.5000305175781,"y":199.50009155273438,"wires":[["f0329406.7275e8"],["36cf15a1.eac54a"]]},{"id":"fcf93026.d5a6d","type":"switch","z":"da4ae623.ea4eb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":583.000244140625,"y":259.33331298828125,"wires":[["9ff3df1e.fd6f4"]]},{"id":"9ff3df1e.fd6f4","type":"change","z":"da4ae623.ea4eb","name":"","rules":[{"t":"set","p":"cmdTime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770.6667785644531,"y":264.333345413208,"wires":[["b4d21a4b.c12a8","1d09255e.695533","d491bf24.793b8"]]},{"id":"1d38e3f0.d0e7fc","type":"debug","z":"cc969482.1a33e8","name":"zero","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":827,"y":110.33333587646484,"wires":[]},{"id":"176d632d.0246ed","type":"debug","z":"cc969482.1a33e8","name":"um","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":782.6666641235352,"y":322.6666669845581,"wires":[]},{"id":"f0329406.7275e8","type":"switch","z":"cc969482.1a33e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":632.6666641235352,"y":157.66671752929688,"wires":[["343f4a30.95816e","1d38e3f0.d0e7fc"]]},{"id":"36cf15a1.eac54a","type":"switch","z":"cc969482.1a33e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":643.6666564941406,"y":218.6666717529297,"wires":[["335884a2.f4771c","176d632d.0246ed"]]},{"id":"6f80aa2e.bfe594","type":"mqtt in","z":"e976b768.6019d8","name":"pub","topic":"jardim/lamp1_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":606.9921340942383,"y":90.66667079925537,"wires":[["4ff6db22.793d14","95dcac0d.7f56c"]]},{"id":"4af27e5f.df9b1","type":"mqtt out","z":"e976b768.6019d8","name":"sub","topic":"jardim/lamp1","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":947.9921627044678,"y":239.66667079925537,"wires":[]},{"id":"3b28a4e.7ce695c","type":"ui_button","z":"e976b768.6019d8","name":"Lamp1_0","group":"3f116557.f6c75a","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp1","x":616.9921264648438,"y":224.66668224334717,"wires":[["4af27e5f.df9b1","61776ca7.13e7c4"]]},{"id":"dca0a72b.e44e88","type":"ui_button","z":"e976b768.6019d8","name":"Lamp1_1","group":"3f116557.f6c75a","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp1","x":615.4921321868896,"y":269.6666793823242,"wires":[["4af27e5f.df9b1","61776ca7.13e7c4"]]},{"id":"4ff6db22.793d14","type":"ui_text","z":"e976b768.6019d8","group":"3f116557.f6c75a","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":857.9921360015869,"y":102.66666984558105,"wires":[]},{"id":"95dcac0d.7f56c","type":"function","z":"e976b768.6019d8","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp1_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === 'jardim/lamp1_pub'){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":789.9921360015869,"y":165.666672706604,"wires":[["4af27e5f.df9b1","21a041ba.abccde"]]},{"id":"ae7c3f10.334aa","type":"ui_button","z":"e976b768.6019d8","name":"Lamp1_2","group":"3f116557.f6c75a","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":618.257776260376,"y":337.4166421890259,"wires":[["61776ca7.13e7c4"]]},{"id":"9c31e538.44ca78","type":"ui_text","z":"e976b768.6019d8","group":"3f116557.f6c75a","order":3,"width":0,"height":0,"name":"","label":"InterCond","format":"{{msg.payload}}","layout":"row-spread","x":1153.0077877044678,"y":309.416615486145,"wires":[]},{"id":"61776ca7.13e7c4","type":"function","z":"e976b768.6019d8","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp1\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":887.2577667236328,"y":333.4166259765625,"wires":[["9c31e538.44ca78","4af27e5f.df9b1"],["e9c08352.455bd"],["eb057646.e09bc8"]]},{"id":"21a041ba.abccde","type":"ui_text","z":"e976b768.6019d8","group":"3f116557.f6c75a","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":1024.999948501587,"y":175.19010734558105,"wires":[]},{"id":"e9c08352.455bd","type":"ui_text","z":"e976b768.6019d8","group":"3f116557.f6c75a","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1156.9999732971191,"y":354.19004917144775,"wires":[]},{"id":"eb057646.e09bc8","type":"ui_text","z":"e976b768.6019d8","group":"3f116557.f6c75a","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1145.492172241211,"y":401.6666679382324,"wires":[]},{"id":"9f87d73a.e4bf08","type":"inject","z":"e976b768.6019d8","name":"Time","topic":"Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":209.00003051757812,"y":389.19010734558105,"wires":[["61776ca7.13e7c4","b7c1d65b.2ce178"]]},{"id":"3e805494.c71ebc","type":"comment","z":"e976b768.6019d8","name":"Lamp1","info":"","x":753.3254699707031,"y":56.00000286102295,"wires":[]},{"id":"b7c1d65b.2ce178","type":"function","z":"e976b768.6019d8","name":"command ll","func":"var cmd0 = global.get(\"cmdAll\")\n\nmsg.payload = cmd0;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":114.00000762939453,"y":261.33333015441895,"wires":[["a83a6be2.78b768"]]},{"id":"a6a53013.a6fbc","type":"switch","z":"e976b768.6019d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":410.99999618530273,"y":264.99999618530273,"wires":[["3b28a4e.7ce695c"],["dca0a72b.e44e88"],["ae7c3f10.334aa"]]},{"id":"a83a6be2.78b768","type":"switch","z":"e976b768.6019d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":282.000057220459,"y":265.0000162124634,"wires":[["a6a53013.a6fbc"]]},{"id":"45827b29.7642a4","type":"mqtt in","z":"bd88b8ca.154fe8","name":"pub","topic":"jardim/lamp2_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":557.6666870117188,"y":163.6666717529297,"wires":[["12ce8a2a.fd3d86","2251a506.e0945a"]]},{"id":"44bd93f7.b0224c","type":"mqtt out","z":"bd88b8ca.154fe8","name":"sub","topic":"jardim/lamp2","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":863.6666679382324,"y":259.6666622161865,"wires":[]},{"id":"b458836b.1a7df","type":"ui_button","z":"bd88b8ca.154fe8","name":"Lamp2_0","group":"e0accc3c.a1f54","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp1","x":532.6666316986084,"y":244.66667366027832,"wires":[["44bd93f7.b0224c","8ea88dc2.3a2c4"]]},{"id":"b39e0c87.432a7","type":"ui_button","z":"bd88b8ca.154fe8","name":"Lamp2_1","group":"e0accc3c.a1f54","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp2","x":531.1666374206543,"y":289.66667079925537,"wires":[["44bd93f7.b0224c","8ea88dc2.3a2c4"]]},{"id":"12ce8a2a.fd3d86","type":"ui_text","z":"bd88b8ca.154fe8","group":"e0accc3c.a1f54","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":916.6667251586914,"y":160.66667127609253,"wires":[]},{"id":"2251a506.e0945a","type":"function","z":"bd88b8ca.154fe8","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp2_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === topicTarget){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":710.6666488647461,"y":191.6666612625122,"wires":[["44bd93f7.b0224c","36337dd0.7f1502"]]},{"id":"310dec03.f4a8e4","type":"ui_button","z":"bd88b8ca.154fe8","name":"Lamp2_2","group":"e0accc3c.a1f54","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":518.932258605957,"y":341.4166736602783,"wires":[["8ea88dc2.3a2c4"]]},{"id":"5f413c98.dbb734","type":"ui_text","z":"bd88b8ca.154fe8","group":"e0accc3c.a1f54","order":3,"width":0,"height":0,"name":"","label":"InterCond","format":"{{msg.payload}}","layout":"row-spread","x":1016.6822776794434,"y":310.41671657562256,"wires":[]},{"id":"8ea88dc2.3a2c4","type":"function","z":"bd88b8ca.154fe8","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp2\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":787.9322357177734,"y":331.41668128967285,"wires":[["5f413c98.dbb734","44bd93f7.b0224c"],["92a51e54.eabf1"],["1972f97c.b01e17"]]},{"id":"36337dd0.7f1502","type":"ui_text","z":"bd88b8ca.154fe8","group":"e0accc3c.a1f54","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":945.6744613647461,"y":201.19009590148926,"wires":[]},{"id":"92a51e54.eabf1","type":"ui_text","z":"bd88b8ca.154fe8","group":"e0accc3c.a1f54","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1016.6744689941406,"y":351.1901569366455,"wires":[]},{"id":"1972f97c.b01e17","type":"ui_text","z":"bd88b8ca.154fe8","group":"e0accc3c.a1f54","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1017.1666564941406,"y":396.66668128967285,"wires":[]},{"id":"70a7f7f7.700268","type":"comment","z":"bd88b8ca.154fe8","name":"Lamp2","info":"","x":717.6666870117188,"y":111.66667175292969,"wires":[]},{"id":"f3d5920c.24dc4","type":"inject","z":"bd88b8ca.154fe8","name":"Time","topic":"Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":181.6666717529297,"y":393.6666564941406,"wires":[["27add6a2.e4c25a","8ea88dc2.3a2c4"]]},{"id":"27add6a2.e4c25a","type":"function","z":"bd88b8ca.154fe8","name":"command ll","func":"var cmd0 = global.get(\"cmdAll\")\n\nmsg.payload = cmd0;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":86.6666488647461,"y":265.8098793029785,"wires":[["ba8bcad7.c54158"]]},{"id":"f6999245.cce02","type":"switch","z":"bd88b8ca.154fe8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":383.6666374206543,"y":269.4765453338623,"wires":[["b458836b.1a7df"],["b39e0c87.432a7"],["310dec03.f4a8e4"]]},{"id":"ba8bcad7.c54158","type":"switch","z":"bd88b8ca.154fe8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":254.66669845581055,"y":269.47656536102295,"wires":[["f6999245.cce02"]]},{"id":"32ab7ae9.eca0a6","type":"inject","z":"59782412.0cdd8c","name":"Time","topic":"Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":289.6666564941406,"y":369.8567695617676,"wires":[["f465afb3.2fcaf","cc96537e.2aa5"]]},{"id":"f465afb3.2fcaf","type":"function","z":"59782412.0cdd8c","name":"command All","func":"var cmd0 = global.get(\"cmdAll\")\n\nmsg.payload = cmd0;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":194.66663360595703,"y":241.99999237060547,"wires":[["b15cdaaf.8c1ac8"]]},{"id":"12a7bda9.bf6f92","type":"switch","z":"59782412.0cdd8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":491.66662216186523,"y":245.66665840148926,"wires":[["88ada5e9.d1e708"],["b10bacbc.76beb"],["53584e0d.92dd"]]},{"id":"b15cdaaf.8c1ac8","type":"switch","z":"59782412.0cdd8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":362.6666831970215,"y":245.6666784286499,"wires":[["12a7bda9.bf6f92"]]},{"id":"1bb54a61.bc2596","type":"mqtt in","z":"59782412.0cdd8c","name":"pub","topic":"jardim/lamp3_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":739,"y":97,"wires":[["d46065db.b88078","814b1bc8.c07538"]]},{"id":"67b59bcd.9e3ce4","type":"mqtt out","z":"59782412.0cdd8c","name":"sub","topic":"jardim/lamp3","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":935.000057220459,"y":157,"wires":[]},{"id":"88ada5e9.d1e708","type":"ui_button","z":"59782412.0cdd8c","name":"Lamp2_0","group":"9c9b179d.a4c0f8","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp3","x":721.000020980835,"y":148.0000114440918,"wires":[["67b59bcd.9e3ce4","cc96537e.2aa5"]]},{"id":"b10bacbc.76beb","type":"ui_button","z":"59782412.0cdd8c","name":"Lamp2_1","group":"9c9b179d.a4c0f8","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp3","x":719.5000267028809,"y":193.00000858306885,"wires":[["67b59bcd.9e3ce4","cc96537e.2aa5"]]},{"id":"d46065db.b88078","type":"ui_text","z":"59782412.0cdd8c","group":"9c9b179d.a4c0f8","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":1156,"y":78.99994277954102,"wires":[]},{"id":"814b1bc8.c07538","type":"function","z":"59782412.0cdd8c","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp3_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === topicTarget){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":929,"y":105.00000381469727,"wires":[["67b59bcd.9e3ce4","87cd50d5.55cc"]]},{"id":"53584e0d.92dd","type":"ui_button","z":"59782412.0cdd8c","name":"Lamp2_2","group":"9c9b179d.a4c0f8","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":720.2656440734863,"y":242.75003051757812,"wires":[["cc96537e.2aa5"]]},{"id":"2135b9e7.2bd4b6","type":"ui_text","z":"59782412.0cdd8c","group":"9c9b179d.a4c0f8","order":3,"width":0,"height":0,"name":"","label":"Cmd Inter","format":"{{msg.payload}}","layout":"row-spread","x":1125.0156517028809,"y":173.75000762939453,"wires":[]},{"id":"cc96537e.2aa5","type":"function","z":"59782412.0cdd8c","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp3\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":914.2656326293945,"y":237.74999809265137,"wires":[["2135b9e7.2bd4b6","67b59bcd.9e3ce4"],["7fd21469.92927c"],["2c522fa9.6ddbd"]]},{"id":"87cd50d5.55cc","type":"ui_text","z":"59782412.0cdd8c","group":"9c9b179d.a4c0f8","order":2,"width":0,"height":0,"name":"","label":"Reboot Status","format":"{{msg.payload}}","layout":"row-spread","x":1142.0078125,"y":121.52344512939453,"wires":[]},{"id":"7fd21469.92927c","type":"ui_text","z":"59782412.0cdd8c","group":"9c9b179d.a4c0f8","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1121.0078125,"y":212.5234375,"wires":[]},{"id":"2c522fa9.6ddbd","type":"ui_text","z":"59782412.0cdd8c","group":"9c9b179d.a4c0f8","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1125.4999694824219,"y":248.99999809265137,"wires":[]},{"id":"5a493014.37fb","type":"comment","z":"59782412.0cdd8c","name":"Lamp3","info":"","x":911,"y":42.00004959106445,"wires":[]},{"id":"3e80bbe8.970ee4","type":"function","z":"69677335.a9b6ec","name":"command ll","func":"var cmd0 = global.get(\"cmdAll\")\n\nmsg.payload = cmd0;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":149,"y":283,"wires":[["32944a3a.ffeb06"]]},{"id":"110dd9b2.dcbf16","type":"switch","z":"69677335.a9b6ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":456,"y":286.6666564941406,"wires":[["b4d670c5.77f1a"],["6913a299.5932bc"],["b2210e79.25aef"]]},{"id":"32944a3a.ffeb06","type":"switch","z":"69677335.a9b6ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":327.00006103515625,"y":286.66667652130127,"wires":[["110dd9b2.dcbf16"]]},{"id":"dd6f47e4.591048","type":"ui_text","z":"da4ae623.ea4eb","group":"8ab21ec6.fa579","order":8,"width":0,"height":0,"name":"","label":"Nascer","format":"{{msg.payload}}","layout":"row-spread","x":1195,"y":435,"wires":[]},{"id":"dcf27e06.ad832","type":"ui_text","z":"da4ae623.ea4eb","group":"8ab21ec6.fa579","order":9,"width":0,"height":0,"name":"","label":"Por","format":"{{msg.payload}}","layout":"row-spread","x":1189,"y":481,"wires":[]},{"id":"d491bf24.793b8","type":"debug","z":"da4ae623.ea4eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":994,"y":334,"wires":[]}]
