node-red/lamp
[{"id":"69677335.a9b6ec","type":"tab","label":"Time","disabled":false,"info":""},{"id":"e976b768.6019d8","type":"tab","label":"CurrentlyTIme","disabled":false,"info":""},{"id":"fab1bf73.b26eb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3f116557.f6c75a","type":"ui_group","z":"","name":"Jardim1_ESP_AFE3D0","tab":"fab1bf73.b26eb","order":2,"disp":true,"width":"6","collapse":false},{"id":"bfa8e7c6.07f648","type":"mqtt-broker","z":"","name":"Jardim","broker":"192.168.0.124","port":"1883","clientid":"pi2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd26b142.5e9f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e0accc3c.a1f54","type":"ui_group","z":"","name":"Jardim2_ESP_AF:E3:77","tab":"fab1bf73.b26eb","order":3,"disp":true,"width":"6","collapse":false},{"id":"8ab21ec6.fa579","type":"ui_group","z":"","name":"Basic","tab":"fab1bf73.b26eb","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c9b179d.a4c0f8","type":"ui_group","z":"","name":"Jardim3_ESP_AFACC1","tab":"fab1bf73.b26eb","disp":true,"width":"6","collapse":false},{"id":"17edf024.77d89","type":"ui_group","z":"","name":"Jardim4_ESP_48975A","tab":"fab1bf73.b26eb","disp":true,"width":"6","collapse":false},{"id":"3aa21015.6becc","type":"ui_group","z":"","name":"teste","tab":"fab1bf73.b26eb","disp":true,"width":"6","collapse":false},{"id":"159eaa34.645bc6","type":"function","z":"69677335.a9b6ec","name":"AllFunctionSet","func":"var topic = msg.topic;\nvar payload = msg.payload;\n\nmsg.topic = 'allcommand'\n\nif (topic === 'Lamp_0'){\n    global.set('lamp0',payload)\n    msg.payload = payload;\n}\nif (topic === 'Lamp_1'){\n    global.set('lamp1',payload)\n    msg.payload = payload;\n}\nif (topic === 'Lamp_2'){\n    global.set('lamp2',payload)\n    msg.payload = payload;\n}\nreturn msg\n","outputs":1,"noerr":0,"x":466.5078868865967,"y":72.5234055519104,"wires":[["50643051.dd10a"]]},{"id":"81c97f4b.08e4e","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp_0","group":"8ab21ec6.fa579","order":8,"width":0,"height":0,"passthru":false,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"Lamp_0","x":168.50784873962402,"y":98.52340173721313,"wires":[["159eaa34.645bc6","dc14c56c.9c2588","a0db4e01.4937a","bd528fed.99b73","b4d670c5.77f1a"]]},{"id":"bfbd76f3.30e628","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp_1","group":"8ab21ec6.fa579","order":9,"width":0,"height":0,"passthru":false,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"Lamp_1","x":183.00785446166992,"y":151.52339887619019,"wires":[["159eaa34.645bc6","d82192e3.b4e7b","76c65011.f9df9","f80b55bd.ca32c8","6913a299.5932bc"]]},{"id":"c5ee55f7.6e9858","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp_2","group":"8ab21ec6.fa579","order":10,"width":0,"height":0,"passthru":false,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"Lamp_2","x":187.7734661102295,"y":207.27343034744263,"wires":[["159eaa34.645bc6","f1322e1b.8eeb1","781d1794.7e1498","e54d1a91.6bb678","b2210e79.25aef"]]},{"id":"50643051.dd10a","type":"ui_text","z":"69677335.a9b6ec","group":"8ab21ec6.fa579","order":1,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"row-spread","x":678.2578868865967,"y":69.07027959823608,"wires":[]},{"id":"3f9b63cc.fa728c","type":"mqtt in","z":"69677335.a9b6ec","name":"pub","topic":"jardim/lamp1_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":716.6666736602783,"y":181.66664457321167,"wires":[["55f716a4.2e8ee8","a9054849.fe1098"]]},{"id":"75f387ed.b9ad18","type":"mqtt out","z":"69677335.a9b6ec","name":"sub","topic":"jardim/lamp1","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":1055.6667003631592,"y":326.666645526886,"wires":[]},{"id":"dc14c56c.9c2588","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp1_0","group":"3f116557.f6c75a","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp1","x":724.6666641235352,"y":311.6666569709778,"wires":[["75f387ed.b9ad18","8d4876d9.3db508"]]},{"id":"d82192e3.b4e7b","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp1_1","group":"3f116557.f6c75a","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp1","x":723.166669845581,"y":356.66665410995483,"wires":[["75f387ed.b9ad18","8d4876d9.3db508"]]},{"id":"55f716a4.2e8ee8","type":"ui_text","z":"69677335.a9b6ec","group":"3f116557.f6c75a","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":965.6666736602783,"y":189.66664457321167,"wires":[]},{"id":"a9054849.fe1098","type":"function","z":"69677335.a9b6ec","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp1_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === 'jardim/lamp1_pub'){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":897.6666736602783,"y":252.66664743423462,"wires":[["75f387ed.b9ad18","8d10f221.0228d"]]},{"id":"f1322e1b.8eeb1","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp1_2","group":"3f116557.f6c75a","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":725.9323139190674,"y":424.4166169166565,"wires":[["8d4876d9.3db508"]]},{"id":"101f5691.401a69","type":"ui_text","z":"69677335.a9b6ec","group":"3f116557.f6c75a","order":3,"width":0,"height":0,"name":"","label":"InterCond","format":"{{msg.payload}}","layout":"row-spread","x":1260.6823253631592,"y":396.41659021377563,"wires":[]},{"id":"8d4876d9.3db508","type":"function","z":"69677335.a9b6ec","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp1\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":934.9322986602783,"y":426.41658639907837,"wires":[["101f5691.401a69","75f387ed.b9ad18"],["a1350543.39ce58"],["63f24aa0.4b6534"]]},{"id":"8d10f221.0228d","type":"ui_text","z":"69677335.a9b6ec","group":"3f116557.f6c75a","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":1132.6744861602783,"y":262.19008207321167,"wires":[]},{"id":"a1350543.39ce58","type":"ui_text","z":"69677335.a9b6ec","group":"3f116557.f6c75a","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1264.6745109558105,"y":441.19002389907837,"wires":[]},{"id":"63f24aa0.4b6534","type":"ui_text","z":"69677335.a9b6ec","group":"3f116557.f6c75a","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1257.1666679382324,"y":483.6666169166565,"wires":[]},{"id":"c2afa401.0e6598","type":"inject","z":"69677335.a9b6ec","name":"Time","topic":"Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":171.67453002929688,"y":266.19010162353516,"wires":[["8d4876d9.3db508","6f0e674.4ba0398","3ab76641.9b438a","2e10fde6.9ddbe2"]]},{"id":"6c305f0d.063eb","type":"comment","z":"69677335.a9b6ec","name":"Lamp1","info":"","x":861.0000076293945,"y":142.99997758865356,"wires":[]},{"id":"7e0b64eb.22d8fc","type":"mqtt in","z":"69677335.a9b6ec","name":"pub","topic":"jardim/lamp2_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":735.6666641235352,"y":561.6666569709778,"wires":[["c2406428.f7e1e8","73a6338e.cd154c"]]},{"id":"dea573f6.f36ea","type":"mqtt out","z":"69677335.a9b6ec","name":"sub","topic":"jardim/lamp2","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":1041.6666450500488,"y":657.6666474342346,"wires":[]},{"id":"a0db4e01.4937a","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_0","group":"e0accc3c.a1f54","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp1","x":710.6666088104248,"y":642.6666588783264,"wires":[["dea573f6.f36ea","6f0e674.4ba0398"]]},{"id":"76c65011.f9df9","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_1","group":"e0accc3c.a1f54","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp2","x":709.1666145324707,"y":687.6666560173035,"wires":[["dea573f6.f36ea","6f0e674.4ba0398"]]},{"id":"c2406428.f7e1e8","type":"ui_text","z":"69677335.a9b6ec","group":"e0accc3c.a1f54","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":1094.6667022705078,"y":558.6666564941406,"wires":[]},{"id":"73a6338e.cd154c","type":"function","z":"69677335.a9b6ec","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp2_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === topicTarget){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":888.6666259765625,"y":589.6666464805603,"wires":[["dea573f6.f36ea","b68d48bd.864e98"]]},{"id":"781d1794.7e1498","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_2","group":"e0accc3c.a1f54","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":696.9322357177734,"y":739.4166588783264,"wires":[["6f0e674.4ba0398"]]},{"id":"eee3b730.a172e8","type":"ui_text","z":"69677335.a9b6ec","group":"e0accc3c.a1f54","order":3,"width":0,"height":0,"name":"","label":"InterCond","format":"{{msg.payload}}","layout":"row-spread","x":1194.6822547912598,"y":708.4167017936707,"wires":[]},{"id":"6f0e674.4ba0398","type":"function","z":"69677335.a9b6ec","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp2\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":965.9322128295898,"y":729.416666507721,"wires":[["eee3b730.a172e8","dea573f6.f36ea"],["41b60de4.564064"],["4faedd71.dc1864"]]},{"id":"b68d48bd.864e98","type":"ui_text","z":"69677335.a9b6ec","group":"e0accc3c.a1f54","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":1123.6744384765625,"y":599.1900811195374,"wires":[]},{"id":"41b60de4.564064","type":"ui_text","z":"69677335.a9b6ec","group":"e0accc3c.a1f54","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1194.674446105957,"y":749.1901421546936,"wires":[]},{"id":"4faedd71.dc1864","type":"ui_text","z":"69677335.a9b6ec","group":"e0accc3c.a1f54","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1195.166633605957,"y":794.666666507721,"wires":[]},{"id":"f4f9347b.12e728","type":"comment","z":"69677335.a9b6ec","name":"Lamp2","info":"","x":895.6666641235352,"y":509.6666569709778,"wires":[]},{"id":"d041f8c9.363878","type":"mqtt in","z":"69677335.a9b6ec","name":"pub","topic":"jardim/lamp3_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":781.5078258514404,"y":887.5233979225159,"wires":[["c8af791c.245438","654ab4ac.77b61c"]]},{"id":"9bb8d61a.e089d8","type":"mqtt out","z":"69677335.a9b6ec","name":"sub","topic":"jardim/lamp3","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":977.5078830718994,"y":947.5233979225159,"wires":[]},{"id":"bd528fed.99b73","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_0","group":"9c9b179d.a4c0f8","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp3","x":763.5078468322754,"y":938.5234093666077,"wires":[["9bb8d61a.e089d8","3ab76641.9b438a"]]},{"id":"f80b55bd.ca32c8","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_1","group":"9c9b179d.a4c0f8","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp3","x":762.0078525543213,"y":983.5234065055847,"wires":[["9bb8d61a.e089d8","3ab76641.9b438a"]]},{"id":"c8af791c.245438","type":"ui_text","z":"69677335.a9b6ec","group":"9c9b179d.a4c0f8","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":1198.5078258514404,"y":869.5233407020569,"wires":[]},{"id":"654ab4ac.77b61c","type":"function","z":"69677335.a9b6ec","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp3_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === topicTarget){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":971.5078258514404,"y":895.5234017372131,"wires":[["9bb8d61a.e089d8","227ff3cf.8e77dc"]]},{"id":"e54d1a91.6bb678","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_2","group":"9c9b179d.a4c0f8","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":762.7734699249268,"y":1033.273428440094,"wires":[["3ab76641.9b438a"]]},{"id":"ff908cff.2f356","type":"ui_text","z":"69677335.a9b6ec","group":"9c9b179d.a4c0f8","order":3,"width":0,"height":0,"name":"","label":"InterCond","format":"{{msg.payload}}","layout":"row-spread","x":1167.5234775543213,"y":964.2734055519104,"wires":[]},{"id":"3ab76641.9b438a","type":"function","z":"69677335.a9b6ec","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp3\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":956.773458480835,"y":1028.2733960151672,"wires":[["ff908cff.2f356","9bb8d61a.e089d8"],["ca6859a5.771828"],["de623a6d.0d6638"]]},{"id":"227ff3cf.8e77dc","type":"ui_text","z":"69677335.a9b6ec","group":"9c9b179d.a4c0f8","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":1176.5156383514404,"y":930.0468430519104,"wires":[]},{"id":"ca6859a5.771828","type":"ui_text","z":"69677335.a9b6ec","group":"9c9b179d.a4c0f8","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1173.515645980835,"y":1006.0468430519104,"wires":[]},{"id":"de623a6d.0d6638","type":"ui_text","z":"69677335.a9b6ec","group":"9c9b179d.a4c0f8","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1168.0077953338623,"y":1039.5233960151672,"wires":[]},{"id":"6f591a8d.470154","type":"comment","z":"69677335.a9b6ec","name":"Lamp3","info":"","x":953.5078258514404,"y":832.5234475135803,"wires":[]},{"id":"47e49c33.626cc4","type":"mqtt in","z":"69677335.a9b6ec","name":"pub","topic":"jardim/lamp4_pub","qos":"0","datatype":"utf8","broker":"bfa8e7c6.07f648","x":750.0000610351562,"y":1199.999985218048,"wires":[["954a2691.89ea38","1b0087cf.97fb08"]]},{"id":"91a4e3fe.1c1f5","type":"mqtt out","z":"69677335.a9b6ec","name":"sub","topic":"jardim/lamp4","qos":"1","retain":"false","broker":"bfa8e7c6.07f648","x":1047.000114440918,"y":1265.9999680519104,"wires":[]},{"id":"b4d670c5.77f1a","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_0","group":"17edf024.77d89","order":6,"width":0,"height":0,"passthru":true,"label":"Lamp_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp4","x":716.000078201294,"y":1250.9999794960022,"wires":[["91a4e3fe.1c1f5","2e10fde6.9ddbe2"]]},{"id":"6913a299.5932bc","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_1","group":"17edf024.77d89","order":7,"width":0,"height":0,"passthru":true,"label":"Lamp_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp4","x":714.5000839233398,"y":1295.9999766349792,"wires":[["91a4e3fe.1c1f5","2e10fde6.9ddbe2"]]},{"id":"954a2691.89ea38","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":1,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":1137.000057220459,"y":1180.0000004768372,"wires":[]},{"id":"1b0087cf.97fb08","type":"function","z":"69677335.a9b6ec","name":"RebootFunc","func":"var topicTarget =  'jardim/lamp4_pub'\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === topicTarget){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        flow.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":943.000057220459,"y":1213.999972820282,"wires":[["91a4e3fe.1c1f5","9b87a9b6.eab7b8"]]},{"id":"b2210e79.25aef","type":"ui_button","z":"69677335.a9b6ec","name":"Lamp2_2","group":"17edf024.77d89","order":8,"width":0,"height":0,"passthru":true,"label":"Lamp_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":715.2657051086426,"y":1343.7499623298645,"wires":[["2e10fde6.9ddbe2"]]},{"id":"6ed46b90.7c9894","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":3,"width":0,"height":0,"name":"","label":"InterCond","format":"{{msg.payload % 4}}","layout":"row-spread","x":1196.0157470703125,"y":1266.749969959259,"wires":[]},{"id":"2e10fde6.9ddbe2","type":"function","z":"69677335.a9b6ec","name":"Intermediary Cond","func":"var topicTarget= \"jardim/lamp4\"\nvar lastState = flow.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar savedTime = context.get(\"savedTime\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//set on\nif (topic === \"Time\"){\n    //context.set('cmdResultSave',text);\n    context.set(\"timeSave\",text)   \n}\n\n//set on\nif (topic === topicTarget){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"savedTime\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (savedTime > 0){\n    //normal exit\n    if ((savedTime+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"savedTime\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"savedTime\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \n//newcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: savedTime, topic:topic}\nreturn [result, timemsg, countmsg];","outputs":3,"noerr":0,"x":984.265682220459,"y":1333.749969959259,"wires":[["6ed46b90.7c9894","91a4e3fe.1c1f5"],["57d93dc5.448db4"],["411cab1b.4395f4"]]},{"id":"9b87a9b6.eab7b8","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":1178.007869720459,"y":1223.523407459259,"wires":[]},{"id":"57d93dc5.448db4","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":4,"width":0,"height":0,"name":"","label":"InterTime","format":"{{msg.payload}}","layout":"row-spread","x":1198.0078735351562,"y":1310.523407459259,"wires":[]},{"id":"411cab1b.4395f4","type":"ui_text","z":"69677335.a9b6ec","group":"17edf024.77d89","order":5,"width":0,"height":0,"name":"","label":"InterCmd","format":"{{msg.payload}}","layout":"row-spread","x":1198.5001220703125,"y":1361,"wires":[]},{"id":"29527622.922d7a","type":"comment","z":"69677335.a9b6ec","name":"Lamp4","info":"","x":963.0000133514404,"y":1110.9999642372131,"wires":[]},{"id":"516cd21e.e7340c","type":"function","z":"e976b768.6019d8","name":"CurrentTime","func":"var date;\ndate = new Date();\nvar datestr = (date.getFullYear() + '-' + \n  ('00' + (date.getMonth()+1)).slice(-2) + '-' + \n  ('00' + date.getDate()).slice(-2) + ' ' + \n  ('00' + date.getHours()).slice(-2) + ':' + \n  ('00' + date.getMinutes()).slice(-2) + ':' + \n  ('00' + date.getSeconds()).slice(-2));\n\nvar dateMsg = msg;\ndateMsg.payload = datestr;\n\nvar oldcmdMsg = {topic: \"oldcmd\"};\n\nvar newMsg = {topic: \"cmd\"};\nvar oldCmd = context.get(\"oldcmd\") ;\ncontext.curcmd = -2;\nvar dateyy = new Date();\nvar datemo = new Date();\nvar datedd = new Date();\nvar datehh = new Date();\nvar datemi = new Date();\n\n\ndateyy = dateyy.getFullYear();\ndatemo = (datemo.getMonth()+1);\ndatedd = datedd.getDate();\ndatehh = datehh.getHours();\ndatemi = datemi.getMinutes();\n\n///Only for test\n// var datehh = {topic:\"hour\"}\n// var datemm = {topic:\"minute\"}\n// if (msg.topic === \"hourcur\"){\n//     datehh = msg.payload;\n//     context.set(\"curhh\",msg.payload);\n// } else {\n//     datehh = context.get(\"curhh\");\n// }\n// if (msg.topic === \"mincur\"){\n//     datemi = msg.payload;\n//     context.set(\"curmm\",msg.payload);\n// }else{\n//     datemi = context.get(\"curmm\");\n// }\n// dateMsg.payload = datehh +\":\"+datemi;\n///Only for test\n\nvar nascerhr = flow.get(\"nascerh\")\nvar nascermin = flow.get(\"nascerm\")\nvar porhr = flow.get(\"porh\")\nvar pormin = flow.get(\"porm\")\n\nif ((datehh>=nascerhr & datemi >= nascermin) &\n    (datehh<porhr)){\n    context.curcmd = 0;\n}else if (datehh>=porhr & datemi >= pormin){\n    context.curcmd = 1;\n}else{\n    context.curcmd = oldCmd;\n}\n\noldcmdMsg.payload = oldCmd;\n\nif (context.curcmd !== oldCmd){\n    context.set(\"oldcmd\",context.curcmd);\n    newMsg.payload = context.curcmd;\n    return [newMsg,dateMsg,oldcmdMsg]\n}else{\n    return [null,dateMsg,oldcmdMsg]\n}\n\n","outputs":3,"noerr":0,"x":334.66661834716797,"y":418.7777614593506,"wires":[["2415587a.149f78","61e9a027.e7409"],["fd16721f.75083"],["e7134e45.a2cc4"]]},{"id":"c7318510.d30988","type":"inject","z":"e976b768.6019d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":93.88889694213867,"y":417.11109161376953,"wires":[["516cd21e.e7340c"]]},{"id":"78d097a6.c0fa18","type":"http request","z":"e976b768.6019d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.sunrise-and-sunset.com/pt/sun/brasil/sao-jose-dos-campos","tls":"","proxy":"","authType":"","x":233.00003814697266,"y":520.0000009536743,"wires":[["435705c0.604e6c"]]},{"id":"435705c0.604e6c","type":"html","z":"e976b768.6019d8","name":"","property":"payload","outproperty":"payload","tag":"tbody","ret":"text","as":"multi","x":170.7778091430664,"y":587.1110656261444,"wires":[["725d2e5.9ffb8d","20ffb7fe.749498"]]},{"id":"84d39952.a37e18","type":"inject","z":"e976b768.6019d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"05 01 * * *","once":false,"onceDelay":0.1,"x":81.66666412353516,"y":517.7777271270752,"wires":[["78d097a6.c0fa18"]]},{"id":"725d2e5.9ffb8d","type":"string","z":"e976b768.6019d8","name":"Nascer","methods":[{"name":"between","params":[{"type":"str","value":"Nascer do sol hoje"},{"type":"str","value":"Pôr do sol hoje"}]},{"name":"replaceAll","params":[{"type":"str","value":"\\t"},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":"\\n"},{"type":"str","value":""}]},{"name":"trim","params":[]},{"name":"split","params":[{"type":"str","value":":"},{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":394.4445114135742,"y":573.3332672119141,"wires":[["918aba2e.45f908"]]},{"id":"20ffb7fe.749498","type":"string","z":"e976b768.6019d8","name":"Por","methods":[{"name":"between","params":[{"type":"str","value":"Pôr do sol hoje"},{"type":"str","value":"Fuso horário"}]},{"name":"replaceAll","params":[{"type":"str","value":"\\t"},{"type":"str","value":""}]},{"name":"replaceAll","params":[{"type":"str","value":"\\n"},{"type":"str","value":""}]},{"name":"trim","params":[]},{"name":"split","params":[{"type":"str","value":":"},{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":383.33338165283203,"y":613.3333101272583,"wires":[["9c14f658.d16328"]]},{"id":"6b5439a3.da8e38","type":"function","z":"e976b768.6019d8","name":"Por","func":"flow.set(\"porh\",msg.payload[0])\nflow.set(\"porm\",msg.payload[1])\n\nmsg.payload = msg.payload[0] +\":\"+msg.payload[1]\nreturn msg","outputs":1,"noerr":0,"x":877.7777805328369,"y":641.111047744751,"wires":[["1a5cc638.0234ba"]]},{"id":"918aba2e.45f908","type":"split","z":"e976b768.6019d8","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":546.6666717529297,"y":564.4444236755371,"wires":[["79c2a06e.39bd2"]]},{"id":"79c2a06e.39bd2","type":"join","z":"e976b768.6019d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":689.9999847412109,"y":564.4444398880005,"wires":[["52c152ef.b6e77c"]]},{"id":"52c152ef.b6e77c","type":"function","z":"e976b768.6019d8","name":"Nascer","func":"flow.set(\"nascerh\",msg.payload[0])\nflow.set(\"nascerm\",msg.payload[1])\n\nmsg.payload = msg.payload[0] +\":\"+msg.payload[1]\nreturn msg","outputs":1,"noerr":0,"x":878.888973236084,"y":562.2222299575806,"wires":[["312c3278.6991ce"]]},{"id":"9c14f658.d16328","type":"split","z":"e976b768.6019d8","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":525.5555419921875,"y":631.111083984375,"wires":[["1373a261.cab3ae"]]},{"id":"1373a261.cab3ae","type":"join","z":"e976b768.6019d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":668.8888634575737,"y":634.444413503011,"wires":[["6b5439a3.da8e38"]]},{"id":"2415587a.149f78","type":"ui_text","z":"e976b768.6019d8","group":"3aa21015.6becc","order":7,"width":0,"height":0,"name":"","label":"CmdTime","format":"{{msg.payload}}","layout":"row-spread","x":562.222225189209,"y":368.8889045715332,"wires":[]},{"id":"312c3278.6991ce","type":"ui_text","z":"e976b768.6019d8","group":"3aa21015.6becc","order":8,"width":0,"height":0,"name":"","label":"nascer","format":"{{msg.payload}}","layout":"row-spread","x":1053.3333473205566,"y":562.2223243713379,"wires":[]},{"id":"1a5cc638.0234ba","type":"ui_text","z":"e976b768.6019d8","group":"3aa21015.6becc","order":9,"width":0,"height":0,"name":"","label":"por","format":"{{msg.payload}}","layout":"row-spread","x":1022.2220935821533,"y":624.4444742202759,"wires":[]},{"id":"fd16721f.75083","type":"ui_text","z":"e976b768.6019d8","group":"3aa21015.6becc","order":10,"width":0,"height":0,"name":"","label":"currenttime","format":"{{msg.payload}}","layout":"row-spread","x":562.2222290039062,"y":419.99994468688965,"wires":[]},{"id":"e7134e45.a2cc4","type":"ui_text","z":"e976b768.6019d8","group":"3aa21015.6becc","order":11,"width":0,"height":0,"name":"","label":"oldcmd","format":"{{msg.payload}}","layout":"row-spread","x":516.6666259765625,"y":495.5555419921875,"wires":[]},{"id":"61e9a027.e7409","type":"debug","z":"e976b768.6019d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":531.1111111111111,"y":320,"wires":[]},{"id":"b06c18df.b6a3c8","type":"comment","z":"e976b768.6019d8","name":"horario salvo","info":"10/04\nnascer 06:16\npor  17:53","x":295.5555419921875,"y":258.8888854980469,"wires":[]}]
