node-red/lamp
[{"id":"e2bd0aca.e7eb18","type":"tab","label":"Lamp","disabled":false,"info":""},{"id":"fab1bf73.b26eb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3f116557.f6c75a","type":"ui_group","z":"","name":"Jardim","tab":"fab1bf73.b26eb","disp":true,"width":"6","collapse":false},{"id":"bfa8e7c6.07f648","type":"mqtt-broker","z":"","name":"Jardim","broker":"192.168.0.124","port":"1883","clientid":"pi2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd26b142.5e9f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8733e7bf.6156f8","type":"mqtt in","z":"e2bd0aca.e7eb18","name":"pub","topic":"jardim/lamp1_pub","qos":"1","datatype":"utf8","broker":"bfa8e7c6.07f648","x":143.5,"y":114,"wires":[["ec86f8b5.434558","7d37f7f9.fa4398"]]},{"id":"3f0ecc2d.2826d4","type":"mqtt out","z":"e2bd0aca.e7eb18","name":"sub","topic":"jardim/lamp1","qos":"2","retain":"false","broker":"bfa8e7c6.07f648","x":488.500057220459,"y":380.99999809265137,"wires":[]},{"id":"6b9edd99.bab544","type":"ui_button","z":"e2bd0aca.e7eb18","name":"Lamp1_0","group":"3f116557.f6c75a","order":0,"width":0,"height":0,"passthru":false,"label":"Lamp1_0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"jardim/lamp1","x":157.50002098083496,"y":366.00000953674316,"wires":[["3f0ecc2d.2826d4","67331d58.4c5ff4"]]},{"id":"6be18b4.a5f2974","type":"ui_button","z":"e2bd0aca.e7eb18","name":"Lamp1_1","group":"3f116557.f6c75a","order":0,"width":0,"height":0,"passthru":false,"label":"Lamp1_1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"jardim/lamp1","x":156.00002670288086,"y":411.0000066757202,"wires":[["3f0ecc2d.2826d4","67331d58.4c5ff4"]]},{"id":"ec86f8b5.434558","type":"ui_text","z":"e2bd0aca.e7eb18","group":"3f116557.f6c75a","order":2,"width":0,"height":0,"name":"","label":"Pub","format":"{{msg.payload}}","layout":"row-spread","x":392.5,"y":122,"wires":[]},{"id":"7d37f7f9.fa4398","type":"function","z":"e2bd0aca.e7eb18","name":"RebootFunc","func":"var lastState = global.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\n\nif (topic === 'jardim/lamp1_pub'){\n    //Start the reboot\n    if (text === 'reboot'){\n        if (lastState === '1'){\n            msg.payload = 1;\n        }else{\n            msg.payload = 0;\n        }\n    }else{\n        //set the net Last State\n        global.set('lastState',text)\n        msg.payload = -1 // do nothing\n    }\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":324.5,"y":185.00000286102295,"wires":[["3f0ecc2d.2826d4","b89810ed.9c3b6"]]},{"id":"c4f8c9b3.5ee6b8","type":"ui_button","z":"e2bd0aca.e7eb18","name":"Lamp1_2","group":"3f116557.f6c75a","order":0,"width":0,"height":0,"passthru":false,"label":"Lamp1_2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"lampInter","x":68.7656478881836,"y":622.7499904632568,"wires":[["3bcb8e32.2604f2","67331d58.4c5ff4"]]},{"id":"cbfe38dc.4460d8","type":"inject","z":"e2bd0aca.e7eb18","name":"Time","topic":"time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":104.87893009185791,"y":570.9570569992065,"wires":[["67331d58.4c5ff4"]]},{"id":"e11d6667.971ad8","type":"ui_text","z":"e2bd0aca.e7eb18","group":"3f116557.f6c75a","order":2,"width":0,"height":0,"name":"","label":"counttime","format":"{{msg.payload}}","layout":"row-spread","x":663.5156517028809,"y":582.7500019073486,"wires":[]},{"id":"eee1ddce.c3c75","type":"debug","z":"e2bd0aca.e7eb18","name":"Results","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":674.7656211853027,"y":623.7500133514404,"wires":[]},{"id":"3bcb8e32.2604f2","type":"debug","z":"e2bd0aca.e7eb18","name":"lamp2","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":228.76560974121094,"y":666.7500133514404,"wires":[]},{"id":"67331d58.4c5ff4","type":"function","z":"e2bd0aca.e7eb18","name":"Intermediary Cond","func":"var lastState = global.get('lastState') || 0;\nvar text = msg.payload;\nvar topic = msg.topic;\nvar count = context.get(\"count\") ||-1;\nvar timeSave=context.get(\"timeSave\") ||0;\nvar result = -1 ;\nvar cmdResultSave = context.get(\"cmdResultSave\") ||-1;\nvar cmdresult = -1;\nvar newcmd = -1;\n\n//get the time\nif (topic === \"time\"){\n    context.set(\"timeSave\",text);\n    \n}\n\n//set on\nif (topic === \"jardim/lamp1\"){\n    //context.set('cmdResultSave',text);\n    newcmd = text;    \n}\n\n//set the start\nif (topic === \"lampInter\" && text === 2){\n    context.set(\"count\",timeSave);\n    \n    if (lastState === '1'){\n        //context.set('cmdresult',0);\n        cmdresult = 0;\n    }else{\n        //context.set('cmdresult',1);\n        cmdresult = 1;\n    }\n    \n} else if (count > 0){\n    //normal exit\n    if ((count+20000) < timeSave){\n        \n        if (lastState === '1'){\n            //context.set('cmdresult',0);\n            cmdresult = 0;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 1;\n        }\n        context.set(\"count\",-2);\n    }else if (newcmd >=0){\n        //exit the loop\n        context.set(\"count\",-3);\n        if (newcmd === 1){\n            //context.set('cmdresult',0);\n            cmdresult = 1;\n        }else{\n            //context.set('cmdresult',1);\n            cmdresult = 0;\n        }\n        //context.set('cmdResultSave',cmdresult);\n        //newcmd = -1;\n    }\n    \n} \nnewcmdmsg={payload:newcmd, topic:topic}\nresult = {payload: cmdresult, topic: topic} \ntimemsg = {payload: timeSave, topic: topic} \ncountmsg = {payload: count, topic:topic}\nreturn [result, timemsg, countmsg, newcmdmsg];","outputs":4,"noerr":0,"x":337.765625,"y":612.7499980926514,"wires":[["eee1ddce.c3c75","e11d6667.971ad8","3f0ecc2d.2826d4"],["b8052b20.9578a8","68a54106.c025a"],["802230a8.ded03"],["fbc781e2.88ff1"]]},{"id":"b89810ed.9c3b6","type":"ui_text","z":"e2bd0aca.e7eb18","group":"3f116557.f6c75a","order":2,"width":0,"height":0,"name":"","label":"reboot function","format":"{{msg.payload}}","layout":"row-spread","x":559.5078125,"y":194.5234375,"wires":[]},{"id":"b8052b20.9578a8","type":"ui_text","z":"e2bd0aca.e7eb18","group":"3f116557.f6c75a","order":2,"width":0,"height":0,"name":"","label":"time running","format":"{{msg.payload}}","layout":"row-spread","x":688.5078125,"y":673.5234375,"wires":[]},{"id":"68a54106.c025a","type":"debug","z":"e2bd0aca.e7eb18","name":"TImerunning","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740.5078125,"y":721.5234375,"wires":[]},{"id":"802230a8.ded03","type":"ui_text","z":"e2bd0aca.e7eb18","group":"3f116557.f6c75a","order":2,"width":0,"height":0,"name":"","label":"count","format":"{{msg.payload}}","layout":"row-spread","x":704,"y":763,"wires":[]},{"id":"fbc781e2.88ff1","type":"debug","z":"e2bd0aca.e7eb18","name":"newmsg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":767,"wires":[]}]
